iesl_encoder.vcxproj
iesl_encoder.vcxproj.filters
iesl_encoder.vcxproj.user
Debug
Visual Micro
iesl1.vcxproj
iesl1.vcxproj.filters
iesl1.vcxproj.user
Debug
Visual Micro
readBarcode.vcxproj.filters
readBarcode.vcxproj.user
Visual Micro
readBarcode.vcxproj
sensor_check.vcxproj
sensor_check.vcxproj.filters
sensor_check.vcxproj.user
Visual Micro
